@model IEnumerable<Whatsupp.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Chats</h2>


@foreach (var message in Model)
{
    <ul>
         <li>
            <h3>  @Html.ActionLink(@message.senderName, "viewchat", new { id = message.senderAccountId, id2 = message.receiverAccountId }, @message.addedAt) </h3>
                <p>@message.message</p>
        </li>
    </ul>

}
   =